* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat" sans-serif;
}

body {
    background-color: #0f0f1e;
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;
    /* Não deixa rolar pra baixo depois tira */

}

header {
    position: fixed;
    top: 0;
    width: 90vw;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}


.container {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%);
    overflow: hidden;
    /* Não deixa rolar pra baixo depois tira */
}

.container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0)70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: bklur(50px);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}

/* Aquela parada do fundo ficar brilhando */
/*keyframes vamos usar muito francisco <3*/
@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 1;
    }
}

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.active {
    opacity: 1;
}

.product-img {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.product-img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px) rgba(0, 247, 255, 0.3);
}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

.product-tag {
    font-size: 1rem;
    text-transform: uppercase;
    color: #00f7ff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.product-nome {
    font-size: 4.5rem;
    font-family: 'Orbitron', sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.btn {
    padding: 12px 16px;
    background: linear-gradient(90deg, #00f7ff, #0066ff);
    border-radius: 30px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.2);
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.4);
}


header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    left: 0;
    bottom: 0;
    transition: width 0.5s ease;
}

header nav ul li:hover::after {
    width: 100%;
}